# @package _global_

# This is the main Hydra configuration file.
# It defines the default experiment setup.

defaults:
  - data: default_features
  - model: mlp_visual 
  - override hydra/job_logging: default
  - override hydra/hydra_logging: default

# Defines paths for data inputs and experiment outputs.
paths:
  # --- IMPORTANT ---
  # This path MUST point to the root directory where your
  # feature sub-folders (e.g., 'image/', 'text/') are located.
  data_root: "data/features"

  # Path to the directory where new manifests are stored
  manifest_dir: "data/manifests"
  
  # Experiment output paths
  output_dir: "outputs/${hydra.job.name}"
  checkpoint_dir: "${paths.output_dir}/checkpoints/"

# NEW: Defines the manifest filenames for each data split
# These files are expected inside 'paths.manifest_dir'
data:
  train_manifest: "train_tiny.csv"
  val_manifest: "valid.csv"
  # A list of test manifests to evaluate on
  test_manifests:
    - "test_manual_all.csv"
    - "test_manual_train.csv"
    - "test_manual_valid.csv"

# Defines training and evaluation parameters.
training:
  batch_size: 64
  num_workers: 0 # Recommended to be 0
  learning_rate: 1e-4
  max_epochs: 5000
  early_stopping_patience: 50
  
  # Parameters for classification tasks
  task_type: "classification"
  
  # Loss function configuration
  loss:
    _target_: "torch.nn.BCEWithLogitsLoss"  
  
  # Based on CT-RATE 
  target_labels: [
    # "Medical material",
    "Arterial wall calcification",
    # "Cardiomegaly",
    # "Pericardial effusion",
    # "Coronary artery wall calcification",
    # "Hiatal hernia",
    # "Lymphadenopathy",
    # "Emphysema",
    "Atelectasis",
    "Lung nodule",
    "Lung opacity",
    "Pulmonary fibrotic sequela",
    # "Pleural effusion",
    # "Mosaic attenuation pattern",
    # "Peribronchial thickening",
    # "Consolidation",
    # "Bronchiectasis",
    # "Interlobular septal thickening",
  ]

# NEW: Utility and reproducibility configuration
utils:
  seed: 42

# Configuration for experiment tracking (e.g., W&B, TensorBoard)
logging:
  logger_name: "wandb" 
  project_name: "ct-rate-feature-benchmarks"
  log_model: false # (e.g., "all", "false")